// - - - - - - - - - - - - - - - - - -

// Blog

// - - - - - - - - - - - - - - - - - -

.blog {
	padding: 0 $grid-spacing/2;
}

.blog-wrap {

}

.blog-post {
	position: relative;
	padding: $grid-spacing/2;
	float: left;
	width: 50%;
}

.blog-post__link {
	position: relative;
	display: block;

	@include mq(tabletl) {

		&:hover {

			.blog-post__content {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.blog-post__image {
	width: 100%;
	img {
		width: 100%;
	}
}

.blog-post__content {
	display: flex;
	align-items: start;
	justify-content: left;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 40%, transparent 100%);

	@include mq(tabletp) {
		height: 100%;
		align-items: center;
		justify-content: center;
		background: rgba($overlay-background-color, $overlay-opacity);
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.2s ease-in-out);
	}
}

.blog-post__info {
	text-align: center;
}

.blog-post__title {
	text-align: left;
	padding: 10px 10px 0;
	color: $overlay-text-color;
	font-size: $grid-item-title-small;
	font-weight: $grid-item-title-weight;
	letter-spacing: $grid-item-title-spacing;

	@include mq(tabletp) {
		text-align: center;
		padding: 0 30px;
		font-size: $grid-item-title-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-title-large;
	}
}

.blog-post__subtitle {
	text-align: left;
	margin-top: 0;
	padding: 0 10px 5px;
	color: rgba($overlay-text-color, 0.7);
	font-size: $grid-item-subtitle-small;
	font-weight: $grid-item-subtitle-weight;
	letter-spacing: $grid-item-subtitle-spacing;

	@include mq(tabletp) {
		text-align: center;
		margin-top: 5px;
		padding: 0;
		font-size: $grid-item-subtitle-medium;
	}

	@include mq(laptop) {
		font-size: $grid-item-subtitle-large;
	}
}

.pagination {
	text-align: center;
}

.pagination__prev {
	margin-right: 10px;
}

.pagination__next {
}
